html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: rgb(167, 172, 189);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

#tsparticles {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}

.coverContainer {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #000;
  background: linear-gradient(180deg, rgba(0, 9, 58, 0.8) 80% , rgba(255, 255, 255, 0.555)),
              linear-gradient(330deg, rgb(0, 7, 49), rgba(255, 255, 255, 0.8) 70.71%);
  overflow: hidden;
}

@media screen and (max-width: 400px) {
  .coverContainer {
    min-height: calc(100vh - 56px);
  }
}

.playButton {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.clickedMe {
  z-index: 0;
  position: fixed;
  transition: all 5s;
  opacity: 0;
  visibility: hidden;
  animation: clickMe 1s infinite both;
}

.clickMe {
  z-index: 3;
  animation: clickMe 1s infinite both;
}
@keyframes clickMe {
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

.coverContentContainer {
  z-index: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hidden {
  display:none;
}

.flexLineBreak {
  flex-basis: 100%;
  height: 0;
}

.coverMerry {
  opacity: 0;
  animation: merrySlidein 1s ease-out 8s forwards;
}
@keyframes merrySlidein {
  0% {
    transform: translateY(-70px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.coverChristmas {
  opacity: 0;
  animation: christmasSlidein 1s ease-out 10s forwards;
}
@keyframes christmasSlidein {
  0% {
    transform: translateY(70px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.coverAnna {
  opacity: 0;
  animation: annaSlidein 1s ease-out 12s forwards;
}
@keyframes annaSlidein {
  0% {
    transform: translateY(70px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.daSimone {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 95vw;
  max-width: 500px;  
  opacity: 0;
  animation: daSimoneSlidein 1s ease-out 18s forwards;
}

@keyframes daSimoneSlidein {
  0% {
    transform: translateY(70px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}